#wrapper{
     width: 100%; 
     padding: 20p;
} 
    
    #wrapper{
    
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    
    }
    .searchbar{
     margin-left:150px;
     margin-top: 5px;
    }