<div class="d-details">
    <h1>{{details.name}}</h1>
    <table style="width:700px">
      <thead>
        <tr>
          <th>Meal</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Breakfast</b></td>
          <td>{{details.breakFast}}</td>
        </tr>
        <tr>
          <td><b>Lunch</b></td>
          <td>{{details.lunch}}</td>
        </tr>
        <tr>
          <td><b>Snacks</b></td>
          <td>{{details.snacks}}</td>
        </tr>
        <tr>
          <td><b>Dinner</b></td>
          <td>{{details.dinner}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
